{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    教师助手|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'custom.css' %}">
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-4">欢迎！</h1>
      <p class="lead">在这里，开始你全新的备课体验</p>
      <hr class="my-4">
      <p class = "lead lead2">点击按钮，开始你的第一趟智能备课之旅</p>
      <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">开始备课</a>
      </p>
    </div>
  </div>
{% endblock %}
